body {
  color: #000000;
  font-family: Lato;
  background-color: white;
  margin: 0;
}

#content {
  text-align: center;
}

td {
  padding: 8px;
}

thead td {
  font-size: 20px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: .5px grey;
}

a {
  text-decoration: none;
  background-color: #027bbd;
  color: #f0f0f0;
  border-radius: 10px;
  padding: 5px;
  margin: 0px;
}

tbody tr:hover td {
  background-color: #c2e0f0;
  cursor: pointer;
  transition: .2s;
}

#topbar ul {
  text-align: center;
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #3282b8;
}

#topbar li span{
  margin: auto;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
